body{
  background-color: #2f5d62;
}

.color
{
  color : #a7c4bc;
}

h2
{
  padding : 4rem;
  font-size: 2.5rem;
  display : inline;
  color : #a7c4bc;
}

.central
{
    text-align: center;
}

h1
{
  font-size: 5rem;
}

img
{
  padding : 2rem;
  size : 3rem;
}

.footer{
  padding : 2rem;
  font-size: 1.5rem;
}

.flag
{
  margin-left : 2rem;
  padding : 0;
  width : 3.5rem;
}
